*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;    
}
body{
    overflow-x: hidden;
}
.main{
    display: flex;
    flex-direction: row;
}
.leftdiv{
    padding: 70px 0px 0px 90px;
}
.leftdiv .leftdiv-title{
    font-size: 30px;
    font-weight: 500;   
}
.leftdiv img{
    width: 750px;
    height: 460px;
}
.rightdiv{
    padding: 70px 90px 0px 90px;
}
.reg-button{
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}
button + button{
    margin-left: 40px;
}
.reg-button button{
    background: #FFC200;
    font-size: 20px;
    color: black;
    padding: 12px 25px ;
    border: none;
    outline: none;
    cursor: pointer;
}
.signin-box{
    padding: 100px 0px 70px;
}
.rightdiv .signin{
    text-align: center;
    color: #7EBAD2;
    font-weight: 700;
}
p{
    text-align: center;
    font-weight: 400;  
}
.input-box{
    display: flex;
    flex-direction: column;
}
.input-box input{
    padding-left: 15px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #E5E5E5 ;
    border-radius: 10px;
    outline: none;
    font-size: 17px;
    font-weight: 500;

}
.input-box button{
    height: 50px;
    margin-top: 20px;
    margin-bottom:15px ;
    background-color: #FEC200;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 0px;
    cursor: pointer;
    
}
